<div>
    <mat-card class="mat-elevation-z8">
    <mat-card-content>
        <div class="text-section">
            <mat-card-subtitle>Next Schedule</mat-card-subtitle>
            <mat-card-title>Internet Of Things</mat-card-title>  
        </div>
        <div class="text-section">
            <mat-card-subtitle>Next Schedule</mat-card-subtitle>
            <mat-card-title>Today, Wednesday</mat-card-title>  
        </div>
        <div class="text-section">
            <mat-card-subtitle>Next Schedule</mat-card-subtitle>
            <mat-card-title>11.00 AM to 12.00 PM</mat-card-title>  
        </div>
        
        <div class="button-section">
            <button mat-flat-button color="primary" class="button">Join</button>
        </div>
    </mat-card-content>
    </mat-card>
    <mat-card class="mat-elevation-z8">
        <mat-card-content>
        <div class="text-section">
            <mat-card-subtitle>Next Schedule</mat-card-subtitle>
            <mat-card-title>Internet Of Things</mat-card-title>  
        </div>
        <div class="text-section">
            <mat-card-subtitle>Next Schedule</mat-card-subtitle>
            <mat-card-title>Today, Wednesday</mat-card-title>  
        </div>
        <div class="text-section">
            <mat-card-subtitle>Next Schedule</mat-card-subtitle>
            <mat-card-title>11.00 AM to 12.00 PM</mat-card-title>  
        </div>
        
        <div class="button-section">
            <button mat-flat-button color="primary" class="button">Join</button>
        </div>
            
        </mat-card-content>
    </mat-card>
</div>
